    <footer class="bg-dark text-center text-white">
      <div class="container p-2 pb-0">
        <section>
          <a class="btn btn-outline-light btn-floating m-1" href="mailto: digvijay5321shinde@gmail.com" target="_blank"
            role="button">
            <i class="fa-solid fa-envelope"></i>
          </a>
          <a class="btn btn-outline-light btn-floating m-1" href="home" target="_blank" role="button"><i
              class="fab fa-linkedin-in"></i></a>

          <a class="btn btn-outline-light btn-floating m-1" href="home" target="_blank" role="button"><i
              class="fab fa-github"></i></a>
        </section>
      </div>
    </footer>